{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="text-justify text-truncate limited-text">{{ post.text | linebreaksbr }}</p>
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}

    <script>
        let Post = []

        {% for post in posts %}
            Post.push({
                pk: {{ post.pk }},
                title: "{{ post.title }}",
                text: "{{ post.text }}",
                created_date: "{{ post.created_date }}",
                published_date: "{{ post.published_date }}"
            })
        {% endfor %}

        console.log(Post)
    </script>
{% endblock %}